.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.example

# Ignore the Advent of Code samples/inputs
input.*.txt
input.txt
!input.custom.txt

# Ignore the test files
part1.test.ts
part2.test.ts
